body{
  font-family: Arial;
  background-color: #b3afd8;
}

header{
  background-color: #b4a5e7;
  text-align: center;
  width: 900px;
  border: solid;
  border-color: #534674;
  border-width: 5px;
  border-radius: 20px;
  position: relative;
  left: 25vw;
}

h1{
  color: #534674;
}

h2{
  text-align: center;
  color: #55559e;
}

.my-picture{
  width: 150px;
  border: solid;
  border-width: 5px;
  border-radius: 20px;
  border-color: rgb(132, 158, 204);
}

aside{
  background-color: #8486db;
  padding: 5px;
  padding-right: 10px;
  border: none;
  border-radius: 20px;
  width: 200px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

a{
  color: rgb(51, 51, 51);
  text-decoration: none;
}

article{
  position: relative;
  margin-top: 20px;
}

.flex-block-large{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.flex-block-small{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

@keyframes bobbinganimation{
  0% {transform: translateY(0);}
  50% {transform: translateY(-40px);}
}

.work{
  background-color: #7878bc;
  width: 900px;
  height: 400px;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  box-shadow: -5px 5px 0px rgba(0, 0, 0, 0.5);
  margin-right: 50px;
  animation-name: bobbinganimation;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 0.25s;
  transition: background-color 0.3s;
}

.education{
  background-color: #9595D1;
  width: 900px;
  height: 600px;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  box-shadow: -5px 5px 0px rgba(0, 0, 0, 0.5);
  animation-name: bobbinganimation;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 0.30s;
  transition: background-color 0.3s;
}

.skills{
  background-color: #7373b2;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  position: relative;
  padding: 5px;
  box-shadow: -5px 5px 0px rgba(0, 0, 0, 0.5);
  animation-name: bobbinganimation;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 0.35s;
  transition: background-color 0.3s;
}

.passions{
  background-color: #8081ba;
  width: 180px;
  height: 180px;
  border-radius: 20px;
  position: relative;
  padding: 5px;
  box-shadow: -5px 5px 0px rgba(0, 0, 0, 0.5);
  animation-name: bobbinganimation;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 0.40s;
  transition: background-color 0.3s;
}

.lang{
  background-color: #6D6DC1;
  width: 150px;
  height: 125px;
  border-radius: 20px;
  position: relative;
  padding: 5px;
  box-shadow: -5px 5px 0px rgba(0, 0, 0, 0.5);
  animation-name: bobbinganimation;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 0.45s;
  transition: background-color 0.3s;
}

.website-links{
  background-color: #91b0cd;
  border: solid;
  border-width: 5px;
  border-color: #4e7aa4;
  position: relative;
  width: 200px;
  display: inline-block;
  margin-right: 50px;
}

.get-in-contact{
  background-color: #91b0cd;
  border: solid;
  border-width: 5px;
  border-color: #4e7aa4;
  position: relative;
  width: 500px;
  padding: 15px;
  display: inline-block;
  position: static;
}

.work:hover {
  background-color: #8888b7;
}

.education:hover{
  background-color: #a6a6c8;
}

.skills:hover{
  background-color: #8a8ab1;
}

.passions:hover{
  background-color: #8d8eb8;
}

.lang:hover{
  background-color: #7f7fc2;
}