body{
  font-family: Arial;
  background-color: #b3afd8;
  background-image: url("../images/capetown.jpg");
  background-repeat: no-repeat;
}

header{
  background-color: #b4a5e7;
  text-align: center;
  border: solid;
  border-color: #534674;
  border-width: 5px;
  border-radius: 20px;
  position: relative;
}

h1{
  color: #534674;
}

h2{
  text-align: center;
  color: #55559e;
}

.my-picture{
  width: 150px;
  border: solid;
  border-width: 5px;
  border-radius: 20px;
  border-color: rgb(132, 158, 204);
}

aside{
  background-color: #8486db;
  padding: 5px;
  padding-right: 10px;
  border: none;
  border-radius: 20px;
  width: 200px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

a{
  color: rgb(51, 51, 51);
  text-decoration: none;
}

article{
  position: relative;
  margin-top: 20px;
}

footer{
  text-align: center;
}

.flex-block-large{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.flex-block-small{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

@keyframes bobbinganimation{
  0% {transform: translateY(0);}
  50% {transform: translateY(-40px);}
}

.work{
  background-color: #7878bc;
  width: 900px;
  height: 400px;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  box-shadow: -5px 5px 0px rgba(0, 0, 0, 0.5);
  margin-right: 50px;
  animation-name: bobbinganimation;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 0.25s;
  transition: background-color 0.3s;
}

.education{
  background-color: #9595D1;
  width: 900px;
  height: 600px;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  box-shadow: -5px 5px 0px rgba(0, 0, 0, 0.5);
  animation-name: bobbinganimation;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 0.40s;
  transition: background-color 0.3s;
}

.skills{
  background-color: #7373b2;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  position: relative;
  padding: 5px;
  box-shadow: -5px 5px 0px rgba(0, 0, 0, 0.5);
  animation-name: bobbinganimation;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 0.50s;
  transition: background-color 0.3s;
  margin-right: 300px;
}

.passions{
  background-color: #8081ba;
  width: 180px;
  height: 180px;
  border-radius: 20px;
  position: relative;
  padding: 5px;
  box-shadow: -5px 5px 0px rgba(0, 0, 0, 0.5);
  animation-name: bobbinganimation;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 0.60s;
  transition: background-color 0.3s;
  margin-right: 300px;
}

.lang{
  background-color: #6D6DC1;
  width: 150px;
  height: 125px;
  border-radius: 20px;
  position: relative;
  padding: 5px;
  box-shadow: -5px 5px 0px rgba(0, 0, 0, 0.5);
  animation-name: bobbinganimation;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 0.70s;
  transition: background-color 0.3s;
}

.website-links{
  background-color: #91b0cd;
  border: solid;
  border-width: 5px;
  border-color: #4e7aa4;
  position: relative;
  width: 200px;
  display: inline-block;
  margin-right: 50px;
}

.get-in-contact{
  background-color: #91b0cd;
  border: solid;
  border-width: 5px;
  border-color: #4e7aa4;
  position: relative;
  width: 500px;
  padding: 15px;
  display: inline-block;
  position: static;
}

.work:hover {
  background-color: #8888b7;
}

.education:hover{
  background-color: #a6a6c8;
}

.skills:hover{
  background-color: #8a8ab1;
}

.passions:hover{
  background-color: #8d8eb8;
}

.lang:hover{
  background-color: #7f7fc2;
}

@media only screen and (max-width: 425px){
  body{
    font-size: smaller;
  }

  header{
    width: fit-content;
    height: auto;
    font-size: small;
    padding: 20px;
  }

  h2, h1{
    font-size: medium;
  }

  aside{
    width: 150px;
    height: 150px;
    right: 0px;
    bottom: 0px;
    padding: 0px;
    position: fixed;
    font-size: xx-small;
  }
  
  .flex-block-large{
    flex-direction: column;
    text-align: center;
    
  }
  
  .flex-block-small{
    flex-direction: column;
    text-align: center;
  }
  
  .work{
    width: 300px;
    left: 30px;
    height: fit-content;
    margin-bottom: 20px;
  }
  
  .education{
    width: 300px;
    height: fit-content;
  }
  
  .skills{
    left: 150px;
    height: fit-content;
  }
  
  .passions{
    left: 150px;
    height: fit-content;
  }
  
  .lang{
    height: fit-content;
  }

  .website-links{
    width: 200px;
    margin-bottom: 10px;
    position: static;
  }

  .get-in-contact{
    width: 360px;
  }
}

@media only screen and (min-width: 768px){
  body{
    font-size: smaller;
  }

  header{
    width: fit-content;
    height: auto;
    font-size: small;
    padding: 20px;
  }

  h2, h1{
    font-size: medium;
  }

  aside{
    width: fit-content;
    right: 0px;
    bottom: 0px;
    padding: 10px;
    position: fixed;
    font-size: small;
  }
  
  .flex-block-large{
    flex-direction: column;
    text-align: center;
    
  }
  
  .flex-block-small{
    flex-direction: column;
    text-align: center;
  }
  
  .work{
    width: 300px;
    left: 30px;
    height: fit-content;
    margin-bottom: 20px;
  }
  
  .education{
    width: 300px;
    height: fit-content;
  }
  
  .skills{
    left: 150px;
    height: fit-content;
  }
  
  .passions{
    left: 150px;
    height: fit-content;
  }
  
  .lang{
    height: fit-content;
  }

  .website-links{
    width: 200px;
    margin-bottom: 10px;
    position: static;
  }

  .get-in-contact{
    width: 360px;
  }
}

@media only screen and (min-width: 1024px){
  body{
    font-size: medium;
  }

  header{
    width: fit-content;
    height: auto;
    padding: 20px;
  }

  h2, h1{
    font-size: medium;
  }

  aside{
    width: fit-content;
    right: 0px;
    bottom: 0px;
    padding: 10px;
    position: fixed;
  }
  
  .flex-block-large{
    flex-direction: column;
    text-align: center;
    
  }
  
  .flex-block-small{
    flex-direction: column;
    text-align: center;
  }
  
  .work{
    left: 30px;
    width: fit-content;
    margin-bottom: 20px;
  }
  
  .education{
    width: fit-content;
  }
  
  .skills{
    left: 150px;
    height: fit-content;
  }
  
  .passions{
    left: 150px;
    height: fit-content;
  }
  
  .lang{
    height: fit-content;
  }

  .website-links{
    width: 200px;
    margin-bottom: 10px;
    position: static;
  }

  .get-in-contact{
    width: 360px;
  }
}